.container {
  max-width: 960px;
}

body {
  font-family: 'Mulish',sans-serif;
}

h1,h2,h3,h4,h5 {
  font-weight:600;
}
nav {
  background-color : #006a71 !important;
  color:black;
}

.site-header a{
  color:white !important;
}

.bg-light {
  background-color: #ffffdd !important;
}

.bg-dark {
  background-color: #d3de32!important;
}

.bg-primary {
    background-color: #cbeaed !important;
  }


#image1 {
  background-image:url('../images/monty.jpg');
  background-size:cover;
  width:60% !important;
}

#image2 {
  background-image:url('../images/monte.jpg');
  background-size:cover;
  width:60% !important;
}

#image3 {
  background-image:url('../images/nyc.jpg');
  background-size:cover;
  width:60% !important;

}

#image4 {
  background-image:url('../images/baked.jpg');
  background-size:cover;
  width:60% !important;

}

#image5 {
  background-image:url('../images/38.jpg');
  background-size:cover;
  width:60% !important;

}

#image6 {
  background-image:url('../images/herald.jpg');
  background-size:cover;
  width:60% !important;

}

#image7 {
    background-image:url('img/nice.jpg');
  background-size:cover;
  width:60% !important;

}

#image8 {
  background-image:url('img/delivered.jpg');
  background-size:cover;
  width:60% !important;

}



#header-image-1 {
  background-image:url('../images/rosey.jpg');
  background-size:cover;
}

#header-image-2 {
  background-image:url('../images/jeff.jpg');
  background-size:cover;
}




/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
